@charset "UTF-8";
/*  common
--------------------------------*/

/* .wrap {
    background-image:url(../img/aw20top.jpg);
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
    background-size: cover;
} */

.page-image{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    
    background-image:url(../img/aw20top.jpg);
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
    background-size: cover;
    z-index: -10;
}

body {
    color: #707070;
    font-size: 1px;
    line-height: 2.5;
    font-family: 'Hiragino Sans W4', sans-serif;
    /* background-color: #F4F4F4; */
    letter-spacing: 0.5em;
  }



a { color:#707070; text-decoration:none; }

main{
    z-index: 30;
}

.icon{
    font-size: 38px;
    color: #707070;
    top: 28px;
    right: 125px;
    position: fixed;
}

  /*  animation
--------------------------------*/
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

  /* header
----------------------------- */

header{
    width: 100vw;
    height: 100vh;
    /* background-color: #F4F4F4; */
    position: relative;
}


h1{
    display: flex;
    align-items: center;
}

.topimage-box{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.topimage{
    width: 1000px;
    height: 250px;
    background: url(../img/aw20top.jpg)
    no-repeat center center;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* アニメーション */
    opacity: 0;
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;


}

.topimage p{
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.5em;
    font-size: 16px;
    font-family: 'Hiragino Sans W4', sans-serif;
    text-align: center;
    color: #f4f4f4;
    /* アニメーション */
    opacity: 0;
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 0.5;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.title{
    font-family: english-grotesque, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.10em;
    font-size: 25px;
    color: #707070;
    width: 320px;
    height: 70px; 
    position: fixed;
    /* top: 50%; */
    top: 1.5%;
    left: 3.2%;
    /* アニメーション */
    opacity: 0;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

  /* サイドメニューアイコン
----------------------------- */

.side-btn01{
    border-width: 0.5px;
    border-style: solid;
    border-color: #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    top: 50vh;
    left: 45px;
    width: 50px;
    height: 140px;
    position: fixed;
    transition:1s all;
    
}

.side-btn01:hover{
    background-color: #D1BFAA;
    border-color: #707070;
    color: #F4F4F4;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0;
    transition-timing-function: ease-in;
}

.side-btn01 p{
    color: #707070;
    font-family: 'Hiragino Sans W4', sans-serif;
    letter-spacing: 0.5em;
    margin: 0 auto;
    font-size: 13px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    transform-origin: center;
}

.side-btn02{
    /* width: 180px;
    height: 55px; */
    border-width: 0.5px;
    border-style: solid;
    border-color: #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    top: 50vh;
    right: 45px;
    width: 50px;
    height: 240px;
    position: fixed;
    transition:1s all;
    
}

.side-btn02 p{
    white-space: nowrap;
    color: #707070;
    font-family: 'Hiragino Sans W4', sans-serif;
    letter-spacing: 0.5em;
    margin: 0 auto;
    font-size: 13px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    transform-origin: center;
}

.side-btn02:hover{
    background-color: #D1BFAA;
    border-color: #707070;
    color: #F4F4F4;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0;
    transition-timing-function: ease-in;
}

  /* ハンバーガーメニュー
----------------------------- */

header .menu-button span.menu-color{
    background-color: #707070;
}

header .menu-button{
    display: block;
    position: fixed; /* 追加 *//* 変更 */
    top: 30px;
    right: 45px;
    z-index: 51; /* 追加 */
    width: 50px; /* 追加 */
    height: 31px; /* 追加 */
}
/* 追加 */
header .menu-button span{
    position: absolute;
    width: 50px;
    height: 1.3px;
    background-color: #707070;
    border-radius: 0.5px;
    /* トランジション */
    transition-property: all;
    transition-duration: 0.2s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
/* 追加 */
header .menu-button span:nth-of-type(1){
    top: 0;
}
/* 追加 */
header .menu-button span:nth-of-type(2){
    top: 15px;
}
/* 追加 */
header .menu-button span:nth-of-type(3){
    top: 30px;
}
/* 追加 */
header .menu-button.active span:nth-of-type(1){
    top: 0;
    transform: translateY(12px) rotate(-45deg);
}
/* 追加 */
header .menu-button.active span:nth-of-type(2){
    opacity: 0;
}
/* 追加 */
header .menu-button.active span:nth-of-type(3){
    top: 0;
    transform: translateY(12px) rotate(-135deg);
}
header nav{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 50; /* 追加 */
    width: 350px;
    height: 100vh;
    background: #D1BFAA;
    position: fixed;
    /* アニメーション */
    animation: unset;
    /* display: none; */
    opacity: 0; /* 追加 */
    pointer-events: none; /* 追加 */
    /* トランジション */
    transition-property: all;
    transition-duration: 0.6s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
header nav.active{
    opacity: 0.95; /* 追加 */
    pointer-events: auto; /* 追加 */
}
header .container{
    display: block;
}
header h2{
    padding: 80px 0 0 0;
    margin: 0 auto 40px auto;
}
header .nav-list{
    display: block;
    width: 100%;
    height: auto;
    padding: 40px 0 0 0;
    margin-top: 60px;
}
header .nav-list li{
    display: block;
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 16px;
    /* line-height: 1; */
    margin-top: 20px;
}
.nav-boder{
    width: 200px;
    height: 1px;
    background-color: black;
    margin: 40px auto 40px auto;
}

/* _________main area________ */

main{
    width: 100vw;
    padding: 150px 0 150px 0;
    /* background-color: #f4f4f4; */
}

main div{
    width: 700px;
    height: 500px;
    margin: 0 auto 200px auto;
    overflow: hidden;
}

main div img{
    /* width: 100%; */
    width: 100%;
}

/*  footer
--------------------------------*/
footer{
    width: 100vw;
    height: 50px;
    text-align: center;
}